@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply select-none;
  }
}

@layer utilities {
  .animate-fade-in-up {
    @apply opacity-0 translate-y-5;
    animation: fadeInUp 0.5s ease-out forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Custom Ultra-Slim Glassmorphism Scrollbar */
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400/20 dark:bg-white/10 rounded-full border-none hover:bg-slate-500/40 dark:hover:bg-white/20 transition-all duration-300;
  }
}