# Environmental variables
.env
.env.*

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Test coverage
coverage/

# Editor files
.DS_Store
.vscode/
.idea/